
.graphviz-style-wrapper .spinbutton {
  display: inline-block;
  vertical-align: middle;
}

.graphviz-style-preview {
  float: right;
  right: 20%;
}

.graphviz-style-wrapper .form-text {
  width: auto !important;
}

.graphviz-widget-float-left {
  padding: 10px;
  float: left;
}

.graphviz-widget-float-left .form-item {
  margin: 0;
}

.graphviz-widget-clear-float {
  padding: 10px;
  clear: left;
}

.form-item label .graphviz img {
  margin: 0;
  display: inline;
  vertical-align: middle;
}

#debug_output {
/*  border: dashed 2px red !important;
  padding: 50px !important;*/
  display: none;
}
